#header {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: darkgrey;
}

h1 {
    text-align: center;
}

#menu {
    position: relative;
    white-space: nowrap;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    overflow-x: scroll;
}

#menu::-webkit-scrollbar-track{
    -webkit-box-shadow:
    inset 0 0 6px
    rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;

}

#menu::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#menu::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1d1d1d99;
}

.lunch {
    margin: 10px 10px 10px 10px;
    padding-left: 0;
    display: inline-block;
    padding-right: 0;
    width: 200px;
    height: 250px;
    background-color: rgba(182, 182, 182, 0.729);
    border-radius: 10px;
    text-align: center;
}
